body {
  text-align: center;
  background-color: #088131;
}

.card {
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  background-color: #fff;
  margin-top: -30px;
  border-radius: 6px;
}

.cards-list {
  width: 65px;
  height: 600px;
  float: left;
  margin: 0 20px;
  padding-top: 30px; 
}

.cards-stack {
  clear: both;
  width: 60px;
  position: absolute;
  top: 600px;
  right: 30px;
}

.cards-stack .card {
  position: absolute;
  top: 0;
  left: 0;
}

.selected {
  border: red 3px solid;
}